@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
* {

    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

/* index/home page */



.home-content h1 {

    font-family: 'Roboto', sans-serif;
}

.profile-img {
    padding: 50px;
}


 @media only screen and (min-width: 390px) {
    .home-content {
        font-size: 30px;
        font-family: 'Oswald', sans-serif;

    }

    .home-content h1 {
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
    }

    

} 




/* about page */
@media only screen and (max-width: 768px) {
    .about-me-title {


        padding-top: 10px;
    }

    .lh-base,
    .lh-lg {
        text-align: justify;
    }
}


#about-me {
    padding-top: 4rem;
}

.about{
    background-image: url(../assets/img/bg-long-pages.jpg);
}



/* skill css */

.progress-section{
    font-family: 'Oswald', sans-serif;
    font-size:  30px;
    
}


.skills{
    background-image: url(../assets/img/bg-long-pages.jpg);
}
@media only screen and (min-width:768px){
    .progress-section{padding: 0px 100px 0px 100px;}
    
}